<div class="container">
  <h2><%= @chat_room.title %></h2>
  <p>Join your favourite chat room or <%= link_to "Back to Chat Room List", chat_rooms_path %></p>

  <div class="container-convertsation" style="bottom: 100px;">
    <% @messages.each do |message| %>
      <%= render "chat_rooms/message", message: message %>
    <% end %>
  </div>
</div>
