@import "bootstrap-sprockets";
@import "bootstrap";

.container-message {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.container-message::after {
  content: "";
  clear: both;
  display: table;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container-message .user-avatar {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container-message img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.container-message .user-name {
  font-weight: 600;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
